body, html {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  //overflow:  hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  //min-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 15px;
}



