.header {
  @include clearfix;
  background: white;
  padding: 20px 5px;
  position: -webkit-sticky;
  position: absolute;
  top:0px;
  left: 0;
  right: 0;
  transition: all .2s;
  -moz-transition: all .2s;
  z-index: 100;
}


.header__page-title {
  vertical-align: middle;
  float: left;

}

.header__search {
  vertical-align: middle;
  padding-top: 6px;
  padding-right: 10px;
  float: right;
}

@media (max-width: 630px){
  .page-title{
    font-size: 30px !important;
    float: none;
  }
  .search{
    float: none;
  }

  .header__search {
    padding-right: 0;
  }
  .search__field {
    padding:2px 20px;
    font-size: 14px;
  }

}
