.sticky {
  position: fixed !important;
  padding: 7px 5px !important;
  background: #152228 !important;


}
.sticky .page-title{
  font-size: 30px;
  color: #eeeeee;
  background: #152228;
}

.sticky .header__search {
  padding-top:0;
}