
.phone-book {
  padding-bottom: 30px;
}

.phone-book {
  width: 100%;
  border-spacing: 0;
}

.phone-book__row {
  &:hover {
    color: #8c8c8c;
  }
}

.phone-book__cell {
  max-width: 25%;
  border-bottom: 1px solid darkgrey;
  padding-top: 20px;
  padding-bottom: 12px;

}

.phone-book__cell--title {
  text-align: left;
  padding-bottom: 15px;
  border: 0;

}